/*
colors 

non-selected file = #004053
default-solarized = #002B36 
*/

/* text operators */
.string {
    color: #179D87;
}
.lineNum {
    color: #4C747A;
}
.greenSyntax {
    color: #7F9801;
}
.blueSyntax {
    color: #116F9C;
}
.indent {
    margin-right: 25px;
}
.special {
    margin-right: 18px;
}
.bodyAboutPrompt {
    font-weight: bolder;
    font-size: 1.4em;
    color: #179D87;
}
.cursor {
    color: red;
    animation: blinkingText 1s infinite;
    opacity: 0;
}
@keyframes blinkingText {
    100% {
        opacity: 1;
    }
}

body {
    background-color: #002B36;
    font-family: Consolas, 'Courier New', monospace;
}

.body {
    margin-right: -8px;
    margin-left: -8px;
}

/* link */
.bodyLink {
    margin-top: -8px;
    background-color: #004053;
    width: 100%;
    height: 35px;
}

/* home */
.bodyLinkHome {
    background-color: #063441;
    height: 35px;
    width: 14%; 
}

.bodyLinkHomeImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkHomeTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -20px;

}

.bodyLinkHomeTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
}


/* Projects */
.bodyLinkProjects {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 14%;
    margin-top: -35px;
}

.bodyLinkProjectsImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkProjectsTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkProjectsTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}


/* contact */
.bodyLinkContact {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 28%;
    margin-top: -35px;
}

.bodyLinkContactImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkContactTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkContactTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}

/* resume */
.bodyLinkResume {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 42%;
    margin-top: -35px;
}

.bodyLinkResumeImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkResumeTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkResumeTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}

.bodyHead {
    background-color: #063441;
}

.bodyHeadTbox {
    height: 100%;
    width: 98%;
    padding-left: 2%
}

.bodyHeadTboxText {
    color: #ffffff;
    font-size: 1.5em;
}

.bodyAbout {
    background-color: #002B36;
    height:100px;
    width: 95%;
    padding-top: 20px;
    padding-left: 3%;
}

.bodyAboutText {
    color: #7F9801;
    font-size: 1.3em;
}
