/*
colors 

non-selected file = #004053
default-solarized = #002B36 
*/

/* text operators */
.string {
    color: #179D87;
}
.lineNum {
    color: #4C747A;
}
.greenSyntax {
    color: #7F9801;
}
.blueSyntax {
    color: #116F9C;
}
.indent {
    margin-right: 25px;
}
.special {
    margin-right: 18px;
}
.cursor {
    color: red;
    animation: blinkingText 1s infinite;
    opacity: 0;
}
@keyframes blinkingText {
    100% {
        opacity: 1;
    }
}

body {
    background-color: #002B36;
    font-family: Consolas, 'Courier New', monospace;
}

.body {
    margin-right: -8px;
    margin-left: -8px;
}

/* link
.bodyLink {
    margin-top: -7px;
    background-color: #004053;
    width: 100%;
    height: 35px;
}

.bodyLinkHome {
    background-color: #063441;
    height: 35px;
    width: 7%;
    border-right-color: black;
    border-right-width: 0.1px;
    border-right-style: solid; 
}

.bodyLinkProjects {
    background-color: #004053;
    height: 35px;
    width: 7%;
    margin-left: 7%;
    margin-top: -35px;
}

.bodyLinkContact {
    background-color: #004053;
    width: 7%;
    height: 35px;
    margin-left: 14.5%;
    margin-top: -35px;
}

.bodyLinkResume {
    background-color: #004053;
    height: 35px;
    width: 7%;
    margin-left: 22%;
    margin-top: -35px;
} */

/* head */
/* completed */
.bodyHead {
    background-color: #063441;
}

.bodyHeadTbox {
    height: 100%;
    width: 98%;
    padding-left: 2%
}

.bodyHeadTboxText {
    color: #ffffff;
    font-size: 1.5em;
}