.bodyLink {
    margin-top: -8px;
    background-color: #004053;
    width: 100%;
    height: 35px;
}

/* home */
.bodyLinkHome {
    background-color: #063441;
    height: 35px;
    width: 14%; 
}

.bodyLinkHomeImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkHomeTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -20px;

}

.bodyLinkHomeTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
}


/* Projects */
.bodyLinkProjects {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 14%;
    margin-top: -35px;
}

.bodyLinkProjectsImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkProjectsTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkProjectsTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}


/* contact */
.bodyLinkContact {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 28%;
    margin-top: -35px;
}

.bodyLinkContactImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkContactTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkContactTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}

/* resume */
.bodyLinkResume {
    background-color: #004053;
    height: 35px;
    width: 14%;
    margin-left: 42%;
    margin-top: -35px;
}

.bodyLinkResumeImg {
    margin-left: 5%;
    padding-top: 6px;
}

.bodyLinkResumeTbox {
    padding-left: 4%;
    width: 35;
    height: auto;
    margin-left: 20%;
    margin-top: -25px;

}

.bodyLinkResumeTboxText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em
}